@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600');
@import "settings";

body {
  font-family: "Muli";
  font-weight: 300;
  color: $color-font;
  font-size: $font-size;
  letter-spacing: 1px;
  padding: $size-unit;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: $font-size;
  font-weight: 300;
  margin-bottom: $size-unit;
}

button {
  font-size: 80%;
  background: none;
  border: none;
  padding: $size-unit/2 $size-unit;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: $color-font;
  letter-spacing: 1px;
  transition: all 250ms ease;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a, a:hover, a:active, a:visited {
  color: $color-font;
  text-decoration: none;
  border-bottom: $size-unit/6 solid rgba($color-primary, 0.1);
  font-weight: 300;
}

.button-group {
  letter-spacing: -1px;
  opacity: 0.5;
  transition: all 250ms ease;

  &:hover {
    opacity: 1;

    a:hover {
      color: white;
    }
  }

  a, a:hover, a:visited, a:active {
    background: none; //$color-secondary + 20;
    display: inline-block;
    border: 1px solid rgba(white, 0.2);
    margin-left: -3px;
    padding: $size-unit/4 $size-unit/1.5;
    font-size: $font-size-small;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 250ms ease;
    color: rgba(white, 0.5);
  }

  a:first-child {
    border-right: none;
    border-radius: 3px 0 0 3px;
  }

  a:last-child  {
    border-left: none;
    border-radius: 0 3px 3px 0;
  }
}
