
// Colors.
$color-danger: #ff3a3a;
$color-dark-gray: #3e3e3e;
$color-darker-gray: #2e2e2e;
$color-light-gray: #e6e6e6;

// Dark.
$color-primary-dark: black;
$color-secondary-dark: white;

// Light.
$color-primary-light: white;
$color-secondary-light: black;
