
// Sizes.
$size-unit: 1rem;
$font-size: 1rem;
$font-size-small: 80%;
$font-size-super-small: 60%;

// Colors.
$color-primary: #693b83;
$color-secondary: #7dd5ea;
$color-danger: #ff3a3a;

$color-font: white;

